<template name="cartList">
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Informations</h4>
                </div>
                <div class="modal-body">
                    <p>Cette fonctionnalité n'est pas disponible dans cette version :)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cart col-md-8">
            {{#each cartItems}}
            {{> cartItem}}
            {{/each}}
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <h4>Récapitulatif :</h4>
                <h5>Prix total : {{total_price}}€</h5>
                <h5>Nombre d'articles : {{total_articles}}</h5>
                <button id="btn-return" class="btn btn-default">Retourner aux achats</button>
                <button id="btn-checkout" class="btn btn-primary">Finaliser</button>
            </div>
        </div>
    </div>
</template>